:root {
    --naranja: #FCAA67;
    --rojo: #B0413E;
    --cremita: #FFFFC7;
    --azulito: #548687;
    --cafe: #473335;
    --negro: #000000;
    --blanco: #ffffff;
}

.App-header {
    background-color: var(--cremita);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.App-header a {
    color: var(--negro);
    text-decoration: none;
    margin: .5rem;
}

.barra {
    display: flex;
    justify-content: flex-end;
}

.bo1:hover {
    background-color: var(--naranja);
}
/**/
main {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.menu {
    background-color: var(--rojo);
    width: 16%;
}

.melo {
    display: flex;
    align-items: center;
    gap: 1px;
    justify-content: center;
}

.menu a,
h2 {
    color: var(--blanco);
    text-decoration: none;
}

h2 {
    color: var(--blanco);
    text-decoration: none;
    font-size: 3rem;
}

.content {
    background-image: url("/src/assets/imagenes/background.jpg");
    filter: brightness(0.9);
    width: max-content;
    width: 100%;
    background-repeat: no-repeat;
}

.content1 {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.bo2:hover {
    background-color: var(--blanco);
    color: var(--negro);
}

.imgContent {
    margin: 1rem;
    border-radius: 1rem;
    height: 27rem;
}

.logo {
    margin: 1rem;
    border-radius: 1rem;
    height: 6rem;
}

.btn {
    background-color: var(--cremita);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.btn:hover {
    background-color: var(--rojo);
    color: var(--blanco);
}

.foter {
    background-color: var(--azulito);
    display: flex;
    text-align: center;
    flex-direction: column;
}